<% @subjects.each do |subject| %>
  <tr>
    <td><%= link_to subject.name, category_subject_path(@category.code, subject) %></td>
    <td><%= subject.description.try(:truncate, 10) %></td>
    <td>
      <div class="progress">
        <div class="progress-bar w-<%= subject.progress %>" style="width:<%= subject.progress %>%;" role="progressbar" aria-valuenow="<%= subject.progress %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>
    <td><%= button_tag '更新', data: { subject_id: subject.id }, class: 'subject_edit_btn btn btn-light', type: 'button' %></td>
    <td><%= link_to '削除', category_subject_path(@category.code, subject), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-light' %></td>
  </tr>
<% end %>
