<tr>
  <th scope="row"><%= category.id %></th>
  <td><%= category.code %></td>
  <td><%= category.name %></td>
  <td><%= category.description.truncate(10) %></td>
  <% if superadmin? %>
    <td><%= link_to '編集', edit_admin_category_path(category), class: 'btn btn-dark' %></td>
    <td><%= link_to '削除', admin_category_path(category), method: :delete, data: { confirm: "#{category.name}を本当に削除しますか？" }, class: 'btn btn-dark' %></td>
  <% end %>
</tr>
