<div class="container">
  <h2>「<%= @user.name %>」編集</h2>
  <%= form_with model: @user, url: admin_user_path(@user), local: true do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name,
        class: "form-control #{'is-invalid' if @user.errors.messages[:name].any?}",
        autofocus: true,
        autocomplete: "name" %>
      <% @user.errors.messages[:name].each do |error| %>
        <div class="invalid-feedback"><%= "カテゴリ名#{error}" %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email,
        class: "form-control #{'is-invalid' if @user.errors.messages[:email].any?}",
        autofocus: true,
        autocomplete: "email" %>
      <% @user.errors.messages[:email].each do |error| %>
        <div class="invalid-feedback"><%= "メールアドレス#{error}" %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.text_field :password,
        class: "form-control #{'is-invalid' if @user.errors.messages[:password].any?}",
        autofocus: true,
        autocomplete: "password" %>
      <% @user.errors.messages[:password].each do |error| %>
        <div class="invalid-feedback"><%= "パスワード#{error}" %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.text_field :password_confirmation,
        class: "form-control #{'is-invalid' if @user.errors.messages[:password_confirmation].any?}",
        autofocus: true %>
      <% @user.errors.messages[:password_confirmation].each do |error| %>
        <div class="invalid-feedback"><%= "確認用パスワード#{error}" %></div>
      <% end %>
    </div>

    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <%= f.label :role_level, class: 'input-group-text' %>
        </div>
        <%= f.select :role_level,
          options_for_select(User.role_levels, selected: @user.role_level_before_type_cast),
          {},
          class: "custom-select" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "更新", class: 'btn btn-dark' %>
    </div>
  <% end %>
</div>
